html,
body {
    height: 100%;
    width: 100%;
}

.main {
    background-image: linear-gradient(rgb(38, 253, 199), rgb(201, 96, 201));
}

footer {
    background-color: rgb(201, 96, 201);
    color: white;
    bottom: 0;
    padding: 0.9375rem 0.625rem;
}

h2 {
    background-color: rgb(38, 253, 199);
    color: white;
    height: 100%;
    padding: 0.9375rem;
    margin-bottom: 0px;
    text-align: center;
}

.headerSite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenPerfil {
    width: 250px;
}

.btn {
    width: 100%;
    margin-bottom: 0.3125rem;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

.iframeSite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.875rem;
    height: 25rem;
    margin-top: 0.9375rem;
}